/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}
body {
    transition: background-color 0.3s ease-in-out;
}

:root {
    --primary-color: #3752FD;
    --text-color: black;
    --initial-bg: #F4F7FF
}

.theme1 {
    background-color: #0026ff84;
}

.theme2 {
    background-color: #4193ff;
}

.theme3 {
    background-color: #e2e8f0;
}

.theme4 {
    background-color: #41fff677;
}

.theme5 {
    background-color: #050505e7;
}

.theme-1 { background-color: #3498db; } /* Blue */
.theme-2 { background-color: #e74c3c; } /* Red */
.theme-3 { background-color: #2ecc71; } /* Green */
.theme-4 { background-color: #f39c12; } /* Orange */
.theme-5 { background-color: #9b59b6; } /* Purple */